

<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <ul>
        <li><b>Full Name:</b> {{user.firstName | uppercase}} {{user.lastName | uppercase}}</li><br>
        <li><b>Email:</b> {{user.email | lowercase}}</li><br>
        <li><b>Phone Number:</b> {{user.phone}}</li><br>
        <li><b>Address:</b> {{user.city | uppercase}},{{user.state | uppercase}}</li><br>
    </ul>
    <div class="card-footer">
        <button class="btn btn-outline-secondary" (click)="onBack()" style="width: 80px">
    
            <i class="fa fa-chevron-left"></i>Back
        </button>
    </div>
</div>