<mat-toolbar>
    <span>Modify Contact</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>

   
    <form [formGroup]="contactForm" class="normal-form" (submit)="update()">
       <mat-grid-list cols="1" rowHeight="300px" rowWidth="200px">
        
          
          <mat-grid-tile>
            <div class="controles-container"> 
            <mat-form-field>
              <input formControlName="name" matInput placeholder="Name*">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="email" matInput placeholder="Email">
              <mat-error>Invalid email address.</mat-error>
            </mat-form-field>
           
              <mat-form-field>
                <input formControlName="phone" matInput placeholder="Mobile*">
                <mat-error *ngIf="contactForm.controls['phone'].errors?.required">This field is mandatory.</mat-error>
                <mat-error *ngIf="contactForm.controls['phone'].errors?.pattern">Invalid</mat-error>
              </mat-form-field>
              
              <div class="button-row">
                <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid">Submit</button>
                <button mat-raised-button color="warn" (click)="reset()">Reset</button>
              </div>
              

            </div>
          
           
          </mat-grid-tile>
          
        
            
            
        
      </mat-grid-list> 
    </form>
    
